.profile {
    background-color: #e5e5e5;
}

.profile-divider {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.notification{
    list-style:none;
    margin-top:10px;
    float:left;
    width:80%;
    margin-left:25px;
}
.notification img{
    float:left
}
.glyphicon-chevron-up, .glyphicon-chevron-down{
    float:right;
}
.notification::before{
    content:" ";
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    background:white;
    margin-left:-15px;
    margin-top:10px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45sdeg);
    z-index:-1
}
.glyphicon-time{
    font-size:25px;
    display:block;
}
.time{
    width:9%;
    float:left;
    height:50px;
    margin-top:15px;
    text-align:center;
    border-radius:100%;
    padding-left:0;
}
#alertbox{
    width:200px;
    height:80px;
    position:absolute;
    top:50px;
    right:0;
    z-index:100;
    padding:20px;
    background:#d2e3c9;
    display:none;
}

.redcross-logo{
    width:40px;
    float:left;
    margin-top:-4px;
}
.chat-button{
    margin-top:10px;
}