<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="js/app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script>
            var app = angular.module('register-app', []);
            
            //for creating more language boxes
            var lang_box_html = [
                '<h4>Languages</h4><select class="form-control" ng-change="addLanguage()">' +
                "<option ng-repeat='language in languages'>{{language}}</option></select>"
            ];
            
            app.controller('register-ctrl', function($scope){
                $scope.languages = [
                  '-','Afrikanns',' Albanian',' Arabic',' Armenian',' Basque',' Bengali',' Bulgarian',' Catalan',' Cambodian',' Chinese (Mandarin)',' Croation',' Czech',' Danish',' Dutch',' English',' Estonian',' Fiji',' Finnish',' French',' Georgian',' German',' Greek',' Gujarati',' Hebrew',' Hindi',' Hungarian',' Icelandic',' Indonesian',' Irish',' Italian',' Japanese',' Javanese',' Korean',' Latin',' Latvian',' Lithuanian',' Macedonian',' Malay',' Malayalam',' Maltese',' Maori',' Marathi',' Mongolian',' Nepali',' Norwegian',' Persian',' Polish',' Portuguese',' Punjabi',' Quechua',' Romanian',' Russian',' Samoan',' Serbian',' Slovak',' Slovenian',' Spanish',' Swahili',' Swedish',' Tamil',' Tatar',' Telugu',' Thai',' Tibetan',' Tonga',' Turkish',' Ukranian',' Urdu',' Uzbek',' Vietnamese',' Welsh',' Xhosa'
                ];
                
              /*  $scope.addLanguage = function(){
                    $scope.html = '<button ng-click="addLanguage">Add language</button>';
                }; */
                

            })
        </script>
    </head>
    
    <body ng-app='register-app' ng-controller='register-ctrl'>
        <div class="container">

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <img src="../img/redcross.png" class='img-responsive'>
		<form role="form">
			<fieldset>
				<hr class="colorgraph">
                <h3>Create account</h3>
                
                <h4>Name and Surname</h4>
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Name Surname">
				</div>
                <h4>E-mail</h4>
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
				</div>
                <h4>Mobilnummer</h4>
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="070 XXX XX XX">
				</div>
                
                
                <hr class="colorgraph" id="lang_box">
                
                <h4>Languages</h4>
                <select class="form-control">
                  <option ng-repeat='language in languages'>{{language}}</option>
                </select>
                <p><input type="checkbox" ng-model="lang_box_1"> Add anoher language</p>
                
                <div ng-show="lang_box_1">
                    <select class="form-control">
                      <option ng-repeat='language in languages'>{{language}}</option>
                    </select>
                    <p><input type="checkbox" ng-model="lang_box_2"> Add anoher language</p>
                </div>
                
                <div ng-show="lang_box_2">
                    <select class="form-control">
                      <option ng-repeat='language in languages'>{{language}}</option>
                    </select>
                    <p><input type="checkbox" ng-model="lang_box_3"> Add anoher language</p>
                </div>
                
                <div ng-show="lang_box_3">
                    <select class="form-control">
                      <option ng-repeat='language in languages'>{{language}}</option>
                    </select>
                </div>
                
                <hr class="colorgraph">
                   
                <h4>Password</h4>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
                <h4>Repeat Password</h4>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>
        
    </body>
</html>