<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="js/app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script>
         
            
            var app = angular.module('req-app', [])
            app.controller('main', function($scope){
                $scope.help = false;
                $scope.help1 = false;
                $scope.help2 = false;
                $scope.toggleHelp = function()
                {
                    $scope.help = !$scope.help;
                }
                
                $scope.toggleHelp1 = function()
                {
                    $scope.help1 = !$scope.help1;
                }
                
                $scope.toggleHelp2 = function()
                {
                    $scope.help2 = !$scope.help2;
                }
                
                $scope.submitt = function()
                {
                    $scope.title = null;
                    $scope.textArea = null;
                    $scope.category = null;
                    $scope.date = null;
                    $scope.time = null;
                }
            })
            
            function textAreaAdjust(o) {
              o.style.height = "1px";
              o.style.height = (25+o.scrollHeight)+"px";
            }
            
        </script>
        
    </head>
    
    <body class="profile" ng-app='req-app' ng-controller="main">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>
              <a class="navbar-brand" href="#">Red Cross | Sarah Roe | Notifications</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                <li><a href="../html/refugee-request.html">Request help</a></li>
                <li><a href="../html/refugee-notifications.html">Notifications</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" >
            <div class="form-group">
                <h4>Title</h4>
                <input type="title" name="title" ng-model="title" id="title" class="form-control input-lg" placeholder="Title" required>
            </div>
            
            <div class="form-group" style="resize: none">
              <label for="comment">Description <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="helpIcon" ng-click="toggleHelp()"></span> </label>
                <p ng-show='help'>Please write what you want help with and a brief description of your situation.</p>
              <textarea class="form-control" rows="5" id="comment" style="resize: vertical" onkeyup="textAreaAdjust(this)" style="overflow:hidden" placeholder="What do you need help with?" ng-model="textArea"></textarea>
            </div>
            
            <div class="form-group">
                <label for="comment">Category <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="helpIcon" ng-click="toggleHelp1()"></span> </label>
                <p ng-show='help1'>Please add some keywords about your situation.</p>
                <input type="category" name="category" ng-model="category" id="category" class="form-control input-lg" placeholder="help, food, clothes, talk, ..." required>
            </div>
            
            <p><input type="checkbox" ng-model="period"> Add date and time</p>
            
            <div class="form-group" ng-show="period">
                <div>
                    <label for="comment">Date </label>
                    <input type="text" class="date_input" maxlength="" placeholder="24/12/2016" id="date_input" ng-model="date">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" id="helpIcon" ng-click="toggleHelp2()"></span>
                </div>
                <div>
                    <label for="comment">Time </label>
                    <input type="text" class="time_input" maxlength="5" placeholder="12:00" id="time_input" ng-model="time">
                    <p ng-show='help2'>Please write at what day and time you will need help if it is necessary.</p>
                </div>
            </div>
            
            <div class="btn btn-link pull-right">
                    <a href="" class="btn btn-lg btn-primary btn-block " ng-click="submitt()">Submitt</a>
                </div>
            <div class="form-group" style="padding-top: 60px;">
                <p>Your contact info:</p>
                <div class="panel panel-default" style="width: 99%; padding-left: 20px; background-color: lightgray;">
                    <p style="padding-top: 10px; "><b>Name:</b> Sarah Roe</p> 
                    <p><b>Location:</b> Lund, Sweden</p>
                    <p><b>E-mail:</b> Sarah.Roe@gmail.com</p>
                    <p><b>Phone:</b> 070-1234567</p> 
                </div>
            </div>
                
        </div>
        
    </body>
</html>