<html>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="js/app.js"></script>
        <script src='../data/notifications-refugee.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script>
    
        var app = angular.module('app', [])
        app.controller('main', function($scope){
            $scope.toggleArrow = true;
            $scope.arrowChange = function($index){
                $scope.notifications[$index].toggleArrow = !$scope.notifications[$index].toggleArrow;
            }
            $scope.notifications = notifications;
        })
    
        </script>
    </head>
    
    <body class="profile" ng-app='app' ng-controller='main'>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img class='redcross-logo' src="../img/cross.png" alt=""> | Sarah Roe | Timeline</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                <li><a href="../html/refugee-request.html">Request help</a></li>
                <li><a href="../html/refugee-notifications.html">Timeline</a></li>
                <li><a href="../html/refugee-map.html">Map</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <div class="container-fluid">
             <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                 <div class='notification-wrapper' ng-repeat='notification in notifications'>
                       <div class='time'>
                        <span class='glyphicon glyphicon-time'></span><br>
                         {{notification.time}}
                       </div>
                     <li class='notification' style='background:white; padding:10px; border-radius:10px;' >
                         <h4  ng-click='arrowChange($index)'>
                            {{notification.title}}
                       <a style="color:#cc0000;" ng-init='notification.toggleArrow=false'>
                        <span class='glyphicon glyphicon-chevron-up' ng-show='notification.toggleArrow'></span>
                        <span class='glyphicon glyphicon-chevron-down' ng-hide='notification.toggleArrow'></span>
                      </a>
                         </h4>

            <div ng-show='notification.toggleArrow'>
              <div class="card card-block text-left">
                {{notification.text}}  <a href='{{notification.link}}'>{{notification.link}}</a>     
                <button class='form-control chat-button' ng-if='notification.type == "response"'>
                    <span class='glyphicon glyphicon-check'></span> Mark as solved
                </button>
                
                <span class='chat-button' ng-if='notification.type == "rate"'>
                   <br>
                   <span class='glyphicon glyphicon-star'></span>
                   <span class='glyphicon glyphicon-star'></span>
                   <span class='glyphicon glyphicon-star'></span>
                   <span class='glyphicon glyphicon-star'></span>
                   <span class='glyphicon glyphicon-star-empty'></span>
                </span>
                </span>
              </div>
            </div>

                     </li>
                 </div>
             </div>
        </div>
        
    </body>
</html>